/* .canvas {
  background: pink;
} */

h4 {
  text-align: center;
}
.subBubbleHorizontal {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.canvasRow {
  /* border: 1px solid black; */
  max-width: 45%;
  margin: 20px 0px;
}
